<html ng-app="WebScanning">
<head>
    <title>Scan Documents with AngularJS</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.js"></script>
    <!--<script src="Resources/dynamsoft.webtwain.initiate.js"></script>-->
    <!--<script src="Resources/dynamsoft.webtwain.config.js"></script>-->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="node_modules/oclazyload/dist/ocLazyLoad.js"></script>

</head>

<body>
<div ng-controller="twainControl">

    <!--<div id="dwtcontrolContainer"></div>-->

    <button ng-click="loadImage()">Load</button>
    <button ng-click="acquireImage()">Scan</button>
    <button ng-click="cropImage()" ng-disabled="selected.top == -1">Crop</button>
    <button ng-click="test1()">Test1</button>
    <button ng-click="test2()">Test2</button>

    <div>
        Value: {{selected.top != -1}}
    </div>

    <div id="myimage">
        <img ng-src="{{myImageSrc}}"  width="100" height="100"/>
    </div>

</div>


<script>

  angular.module('WebScanning', ['ui.bootstrap', 'oc.lazyLoad'])
//  .config(['$ocLazyLoadProvider', function($ocLazyLoadProvider) {
////    alert('loaded lazy config');
//    $ocLazyLoadProvider.config(
//      {
//        events: true
//      })
//  }])
  .controller('twainControl', ['$scope', '$http', '$uibModal', function ($scope, $http, $uibModal) {

//    $scope.$on('ocLazyLoad.moduleLoaded', function(e, module) {
//      console.log('M1module loaded', module);
//      alert('module loaded: ' + module);
//    });

    $scope.selected = {sImageIndex: 0, top: -1, left: 0, right: 0, bottom: 0};
    $scope.image = { dataURL: ""};
    $scope.$uibModal = $uibModal;

    $scope.acquireImage = function () {
      var DWObject = Dynamsoft.WebTwainEnv.GetWebTwain('dwtcontrolContainer'); // Get the Dynamic Web TWAIN object that is embeded in the div with id 'dwtcontrolContainer'.
      DWObject.IfDisableSourceAfterAcquire = true;    // Source will be closed automatically after acquisition.
      DWObject.SelectSource();                        // Select a Data Source (a device like scanner) from the Data Source Manager.
      DWObject.OpenSource();                          // Open the source. You can set resolution, pixel type, etc. after this method. Please refer to the sample 'Scan' -> 'Custom Scan' for more info.
      DWObject.AcquireImage();
    };

    $scope.loadImage = function () {
      var OnSuccess = function () {
      };
      var OnFailure = function (errorCode, errorString) {
      };

      var DWObject = Dynamsoft.WebTwainEnv.GetWebTwain('dwtcontrolContainer'); // Get the Dynamic Web TWAIN object that is embeded in the div with id 'dwtcontrolContainer'.
      DWObject.IfShowFileDialog = true;
      DWObject.LoadImageEx("", EnumDWT_ImageType.IT_ALL, OnSuccess, OnFailure);
    };

    $scope.cropImage = function () {
      if ($scope.selected.top != -1) {
        var DWObject = Dynamsoft.WebTwainEnv.GetWebTwain('dwtcontrolContainer');
        DWObject.Crop($scope.selected.sImageIndex,
                      $scope.selected.left,
                      $scope.selected.top,
                      $scope.selected.right,
                      $scope.selected.bottom);
      }
    };

    $scope.test1 = () => {
      var DWObject = Dynamsoft.WebTwainEnv.GetWebTwain('dwtcontrolContainer');

      DWObject.SelectedImagesCount = 1;
      DWObject.SetSelectedImageIndex(0, 0);
      DWObject.GetSelectedImagesSize(EnumDWT_ImageType.IT_JPG);
      var imagedata = DWObject.SaveSelectedImagesToBase64Binary();
      var newImageSrc = "data:image/jpg;base64," + imagedata;

      $scope.myImageSrc = newImageSrc;
    }

    $scope.test2 = () => {

      const modalInstance =
        $uibModal.open({
          templateUrl: 'mymodaltemplate.html',
          controller: 'myModalController',
          bindToController: true,
          scope: this.$scope,
          backdrop  : 'static',
          // keyboard  : false,
          size: 'lg',
          controllerAs: 'modal',
          resolve: {
          }
        });


    }

//    Dynamsoft.WebTwainEnv.RegisterEvent('OnWebTwainReady', function () {
//          var DWObject = Dynamsoft.WebTwainEnv.GetWebTwain('dwtcontrolContainer');
//
//          DWObject.RegisterEvent('OnImageAreaSelected',
//             function (sImageIndex, left, top, right, bottom) {
//               $scope.$apply(function() {
//                 $scope.selected.sImageIndex = sImageIndex;
//                 $scope.selected.left = left;
//                 $scope.selected.top = top;
//                 $scope.selected.right = right;
//                 $scope.selected.bottom = bottom;
//               });
//          });
//
//          DWObject.RegisterEvent('OnImageAreaDeSelected',
//             function (sImageIndex) {
//               $scope.$apply(function() {
//                 var DWObject = Dynamsoft.WebTwainEnv.GetWebTwain('dwtcontrolContainer');
//                 $scope.selected.top = -1;
//               });
//          });
//        }
//    );

  }]);

</script>

<script src="mymodalcontroller.js"></script>

</body>
</html>