<html ng-app="WebScanning">
<head>
    <title>Scan Documents with AngularJS</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js"></script>
    <script src="Resources/dynamsoft.webtwain.initiate.js"></script>
    <script src="Resources/dynamsoft.webtwain.config.js"></script>
</head>

<body>
<div id="dwtcontrolContainer"></div>
<div ng-controller="twainControl">
    <button ng-click="loadImage()">Load</button>
    <button ng-click="acquireImage()">Scan</button>
    <button ng-click="cropImage()" ng-disabled="selected.top == -1">Crop</button>
    <button ng-click="test1()">Test1</button>

    <div>
        Value: {{selected.top != -1}}
    </div>

    <div id="myimage">
        <img data-ng-src="{{myImageSrc}}"  width="100" height="100"/>
    </div>

</div>


<script>
  angular.module('WebScanning', [])
  .controller('twainControl', ['$scope', '$http', function ($scope, $http) {

    $scope.selected = {sImageIndex: 0, top: -1, left: 0, right: 0, bottom: 0};
    $scope.image = { dataURL: ""};

    $scope.acquireImage = function () {
      var DWObject = Dynamsoft.WebTwainEnv.GetWebTwain('dwtcontrolContainer'); // Get the Dynamic Web TWAIN object that is embeded in the div with id 'dwtcontrolContainer'.
      DWObject.IfDisableSourceAfterAcquire = true;    // Source will be closed automatically after acquisition.
      DWObject.SelectSource();                        // Select a Data Source (a device like scanner) from the Data Source Manager.
      DWObject.OpenSource();                          // Open the source. You can set resolution, pixel type, etc. after this method. Please refer to the sample 'Scan' -> 'Custom Scan' for more info.
      DWObject.AcquireImage();
    };

    $scope.loadImage = function () {
      var OnSuccess = function () {
      };
      var OnFailure = function (errorCode, errorString) {
      };

      var DWObject = Dynamsoft.WebTwainEnv.GetWebTwain('dwtcontrolContainer'); // Get the Dynamic Web TWAIN object that is embeded in the div with id 'dwtcontrolContainer'.
      DWObject.IfShowFileDialog = true;
      DWObject.LoadImageEx("", EnumDWT_ImageType.IT_ALL, OnSuccess, OnFailure);
    };

    $scope.cropImage = function () {
      if ($scope.selected.top != -1) {
        var DWObject = Dynamsoft.WebTwainEnv.GetWebTwain('dwtcontrolContainer');
        DWObject.Crop($scope.selected.sImageIndex,
                      $scope.selected.left,
                      $scope.selected.top,
                      $scope.selected.right,
                      $scope.selected.bottom);
      }
    };

    $scope.test1 = () => {
      var DWObject = Dynamsoft.WebTwainEnv.GetWebTwain('dwtcontrolContainer');
      console.log(DWObject.CopyToClipboard(0));

      DWObject.SelectedImagesCount = 1;
      DWObject.SetSelectedImageIndex(0, 0);
      DWObject.GetSelectedImagesSize(EnumDWT_ImageType.IT_JPG);
      var imagedata = DWObject.SaveSelectedImagesToBase64Binary();
      var newImageSrc = "data:image/png;base64," + imagedata;

      $scope.image.dataURL = newImageSrc;
      $scope.myImageSrc = newImageSrc;
    }

    Dynamsoft.WebTwainEnv.RegisterEvent('OnWebTwainReady', function () {
          var DWObject = Dynamsoft.WebTwainEnv.GetWebTwain('dwtcontrolContainer');

          DWObject.RegisterEvent('OnImageAreaSelected',
             function (sImageIndex, left, top, right, bottom) {
               $scope.selected.sImageIndex = sImageIndex;
               $scope.selected.left = left;
               $scope.selected.top = top;
               $scope.selected.right = right;
               $scope.selected.bottom = bottom;

               $scope.$apply();
          });

          DWObject.RegisterEvent('OnImageAreaDeSelected',
             function (sImageIndex) {
               var DWObject = Dynamsoft.WebTwainEnv.GetWebTwain('dwtcontrolContainer');
               $scope.selected.top = -1;

               $scope.$apply();
          });
        }
    );

  }]);

</script>
</body>
</html>